$primary-color: #ed1c24;
$color: #61a7a0;
$light_green: #7cc7bf;
$black: #000;
$gray: #dedbdb;
$light_gray: #bdbdbd;
$light: #fff;
$seagreen: #f8fefd;
$blue: #061237;
$dark_grey: #474747;
$font: "Regular";

$shadow: 0 4rem 3rem rgba($black, 0.05);
$shadow2: 0 0.7rem 3.5rem -0.5rem rgba($black, 0.1),
  0 -0.5rem 1rem -0.6rem rgba($black, 0.1);
$shadow3: 0.5rem 0.8rem 4.6rem 0.5rem rgba(96, 49, 217, 0.1);
