#banner {
  background-image: url(../public/images/banner.png);
  @include bg;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 900px;
  @include flex(center, center);
  position: relative;
  &:before {
    background-color: rgb(0 0 0 / 56%);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
  }
  .text {
    width: 750px;
    text-align: center;
    margin: auto;
    padding-top: 120px;
    @include mobile {
      width: 100%;
    }
    h1,
    p {
      color: $light;
    }
  }
  .bTn {
    margin: 3rem 0;
  }
}

.bTn {
  @include flex(center, center);
  gap: 14px;
}

.col {
  width: 50%;
  padding-right: 30px;
  align-self: center;
  flex: unset;
  @include ipad_sm {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 30px;
  }
}

.colr {
  width: 50%;
  padding-left: 30px;
  align-self: center;
  @include ipad_sm {
    width: 100%;
    padding-left: 0px;
  }
}

.content_center {
  max-width: 650px;
  text-align: center;
  margin: 0 auto 30px;
}

P {
  margin-bottom: 2rem;
}

#about {
  .col {
    .image {
      @include img(77%);
      background-color: transparent;
      box-shadow: none;
      @include radius(0);
      img {
        @include pos;
        @include object(contain);
      }
      @include ipad_sm {
        display: none;
      }
    }
  }
}

#features {
  //   background-color: $color;
  background-image: url(../public/images/bg1.svg);
  @include bg;
  .content_center {
    h2,
    p {
      color: $light;
    }
  }
  .col {
    width: calc(100% / 4);
    padding: 10px;
    flex: unset;
    align-self: unset;
    @include ipad_sm {
      width: calc(100% / 2);
    }
    @include mobile {
      width: calc(100% / 1);
    }
    .inner {
      background-color: $light_green;
      box-shadow: 0 0 30px rgba(19, 75, 70, 7%);
      padding: 20px;
      border-radius: 6px;
      height: 100%;

      .icon {
        width: 46px;
        height: 46px;
        margin-bottom: 30px;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
      .text {
        h4,
        p {
          color: $light;
        }
      }
    }
  }
}

#whoweare {
  .colr {
    .image {
      @include img(80%);
      background-color: transparent;
      box-shadow: none;
      @include radius(0);
      img {
        @include pos;
        @include object(contain);
      }
      @include ipad_sm {
        display: none;
      }
    }
  }
}

#bg_sec {
  background-image: url(../public/images/bg2.png);
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  position: relative;
  height: 550px;
  @include flex(center, center);
  &:before {
    background-color: rgb(0 0 0 / 56%);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
  }
  .content_center {
    margin-bottom: 0;
    h2,
    p {
      color: $light;
    }
  }
}

.txt_flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    display: block;
  }
  h2 {
    width: 35%;
    @include mobile {
      width: 100%;
    }
  }
  p {
    width: 65%;
    @include mobile {
      width: 100%;
    }
  }
}

#services {
  .flex {
    .col {
      flex: unset;
      align-self: unset;
      width: calc(100% / 3);
      padding: 10px;
      @include ipad_sm {
        width: calc(100% / 2);
      }

      @include mobile {
        width: calc(100% / 1);
      }
      .inner {
        border-radius: 15px;
        background-color: $light_green;
        .image {
          height: 290px;
          border-radius: 15px 15px 0 0;
          overflow: hidden;
          img {
            object-fit: cover;
            height: 100%;
            object-position: center;
          }
        }
        .text {
          padding: 20px;
          h4,
          p {
            color: $light;
          }
        }
      }
    }
  }
}

.testimonial_sec {
  .col {
    width: 55%;
    margin-right: -200px;
    @include ipad_sm {
      width: 100%;
      margin-right: 0;
    }
    .text {
      max-width: 710px;
      margin-bottom: 60px;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    .inner {
      background-color: #fff;
      border-radius: 33px;
      box-shadow: 0px 0px 20px rgb(93 23 235 / 13%);
      padding: 30px;
      margin: 20px;
      .quotes {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
      }

      .testi_footer {
        h5 {
          color: $primary_color;
          font-size: 18px;
          font-family: "Regular";
          margin-bottom: 8px;
        }

        h6 {
          color: $color;
          font-size: 14px;
          font-family: "Regular";
          margin-bottom: 0;
        }
      }
    }
  }
  .colr {
    padding-left: 0;
    width: 45%;

    .image {
      @include img(100%);
      background-color: transparent;
      box-shadow: none;
      @include radius(33px);
      img {
        @include pos;
        @include object(cover);
      }
      @include ipad_sm {
        display: none;
      }
    }
  }
}

#cta {
  .outer {
    background-image: url(../public/images/bg3.png);
    @include bg;
    padding: 80px;
    position: relative;
    border-radius: 26px;
    @include mobile {
      padding: 40px;
    }
    .text {
      width: 50%;
      @include ipad_sm {
        width: 100%;
      }
      h2,
      p {
        color: $light;
      }
      h2 {
        font-size: 50px;
        font-family: "SemiBold";
        @include mobile {
          font-size: 30px;
        }
      }
      .bTn {
        justify-content: start;
        @include mobile {
          display: block;
          .white {
            margin-top: 20px;
          }
        }
      }
    }
    .image {
      position: absolute;
      bottom: 0;
      content: "";
      // height: 100%;
      width: 38%;
      right: 0;
      @include ipad_sm {
        display: none;
      }
    }
  }
}

.p0 {
  padding: 0;
}

#smbanner {
  background-image: url(../public/images/smbanner.png);
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  position: relative;
  @include flex(center, center);
  height: 500px;
  &:before {
    background-color: rgb(0 0 0 / 56%);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
  }
  .content_center {
    margin-bottom: 0;
    padding-top: 140px;
    h1,
    p {
      color: $light;
    }
  }
}

#mission_value {
  @include mobile {
    padding-top: 0;
  }
  .col {
    .flex {
      .left_col {
        width: 50%;
        padding: 1rem;
        @include mobile {
          width: 100%;
        }
        .inner {
          border-radius: 25px;
          padding: 3rem;
          background-color: $color;
          text-align: center;
          @include ipad {
            padding: 3rem 1rem;
          }
          &:last-child {
            background-color: $primary-color;
            margin-top: 20px;
            img{
              filter: brightness(0) invert(1);
            }
          }
          .image {
            width: 8rem;
            height: 8rem;
            margin: 0 auto 1.5rem;
          }
          h4,
          p {
            color: $light;
          }
          h4 {
            margin-bottom: 4px;
          }
        }
      }
      .right_col {
        .inner {
          &:first-child {
            background-color: #f2f2f2;
            margin-bottom: 20px;
            img{
              filter: brightness(0);
            }
            h4,
            p {
              color: $black;
            }
          }
          &:last-child {
            background-color: $black;
          }
        }
      }
      .mt {
        margin-top: 60px;
      }
    }
  }
}

#whychooseus {
  .outer {
    background-image: url(../public/images/bg1.svg);
    @include bg;
    padding: 10rem 4rem;
    border-radius: 35px;
    .content_center {
      max-width: 80%;
      @include ipad_sm{
        max-width: 100%;
      }
      h2,
      p {
        color: $light;
        max-width: 750px;
        margin: 0 auto 2rem;
      }
    }
    ol {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      text-align: left;
      @include ipad_sm {
        width: 100%;
      }
      li {
        position: relative;
        width: calc(100% / 3);
        display: flex;
        padding: 10px 30px;
        color: $light;
        @include mobile {
          width: calc(100% / 1);
        }
        &:before {
          position: absolute;
          top: 1.3rem;
          bottom: 0;
          left: 0px;
          content: "";
          background: url(../public/images/CheckCircle.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

#team {
  .text {
    margin-bottom: 50px;
    width: 75%;
    @include mobile {
      width: 100%;
    }
  }
  .coll {
    flex: unset;
    width: calc(100% / 3);
    padding: 10px;
    @include ipad_sm {
      width: calc(100% / 2);
    }
    @include mobile {
      width: calc(100% / 1);
    }
    .inner {
      .image {
        position: relative;
        height: 500px;
        border-radius: 23px;
        overflow: hidden;
        &:before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(to top, rgb(0 0 0 / 82%), transparent);
        }
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .t_text {
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: 20px 20px;
          h4 {
            color: $light;
            margin-bottom: 6px;
            a {
              color: $light;
            }
          }
          p {
            color: #8be7c8;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#ser_pg {
  .coll {
    width: calc(100% / 2);
    padding: 20px;
    @include mobile {
      width: calc(100% / 1);
    }
    .image {
      border-radius: 29px;
      height: 450px;
      overflow: hidden;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text {
      margin-top: 30px;
      h3 {
        margin-bottom: 6px;
      }
    }
  }
}

#par_bg {
  @include bg;
  background-image: url(../public/images/bg4.png);
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  .outer {
    background-color: rgba(124, 199, 191, 0.93);
    padding: 80px 120px;
    border-radius: 30px;
    width: 75%;
    @include ipad_sm {
      width: 100%;
      padding: 60px;
    }
    .bTn {
      justify-content: start;
      @include mobile {
        display: block;
        .white {
          margin-top: 20px;
        }
      }
    }
    .text {
      h2 {
        font-size: 50px;
        color: $light;
        @include mobile {
          font-size: 30px;
        }
      }
    }

    p {
      color: $light;
    }
  }
}

.pb {
  padding-bottom: 0;
}
#cnt {
  .colr {
    .coll {
      width: calc(100% / 2);
      padding: 20px;
      @include mobile {
        width: calc(100% / 1);
      }
      .inner {
        background-color: $light_green;
        padding: 30px 20px;
        border-radius: 15px;
        height: 100%;
        display: block;
        p {
          color: $light;
          text-align: center;
          margin-bottom: 0;
        }
        .icon {
          width: 60px;
          margin: 0 auto 20px;
        }
      }
    }
  }
  .col {
    padding-right: 200px;
    @include ipad {
      padding-right: 50px;
    }
  }
}

#cnt_form {
  .outer {
    background-color: $light_green;
    border-radius: 40px;
    padding: 40px;
    max-width: 850px;
    margin: auto;
    .flex {
      margin: 0 -10px;
      .form_blk {
        width: 50%;
        padding: 10px;
        @include mobile {
          width: 100%;
        }
      }
      .col-xs-12 {
        width: 100% !important;
      }
    }
    .flx {
      display: flex;
      gap: 20px;
      @include mobile {
        display: block;
        // .lbl_btn {
        //   margin: 8px 0;
        // }
      }
    }
    h2,
    p {
      color: $light;
    }
  }
}

#policy {
  .outer {
    max-width: 1000px;
    margin: auto;
    @include mobile {
      max-width: 100%;
    }
    h4,
    h5,
    p {
      color: #39374d;
    }
    h4 {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
    h5 {
      margin-bottom: 1rem;
      font-family: "SemiBold";
    }
    ul {
      margin-bottom: 2rem;
      li {
        list-style: auto;
        color: #39374d;
        padding-bottom: 6px;
      }
    }
    a {
      display: block;
      strong {
        color: $primary_color;
        font-family: "Regular";
      }
    }
  }
}

.login_header {
  position: absolute;
  top: 2rem;
  right: 5rem;
  left: 5rem;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  z-index: 11;
  @include mobile {
    right: 2px;
    left: 2px;
  }
  .logon_logo {
    max-width: 22rem;
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    width: 100%;
    @include mobile {
      max-width: 20rem;
      height: 6rem;
    }
    a {
      display: block;
      width: auto;
      max-width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left center;
        transition: all ease 0.5s;
      }
    }
  }
  .strong {
    color: $primary_color;
    font-family: "Regular";
    &:hover {
      color: $color;
    }
  }
}

#login {
  padding-top: 24rem;
  .outer {
    max-width: 550px;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    background-color: $light_green;
    @include mobile {
      max-width: 100%;
    }
    h3,
    p {
      color: $light;
    }
    h3 {
      margin-bottom: 1rem;
    }
    .link {
      color: $primary_color;
      font-family: "Medium";
    }
    .blk_link {
      margin-bottom: 40px;
    }
    .btn_blk {
      margin-top: 20px;
    }
    a {
      color: $primary_color;
    }
    form {
      margin-top: 40px;
      label {
        color: $light;
        margin-bottom: 10px;
      }
    }
  }
}

.dash {
  background-color: $seagreen;
  padding-top: 70px;

  #dashboard {
    padding-bottom: 30px;
    h3 {
      font-family: "Medium";
      margin-bottom: 0;
    }
    .heading {
      h3 {
        font-family: "Medium";
      }
      p {
        color: $dark_grey;
      }
      margin-bottom: 40px;
    }
    .mt {
      margin-top: 60px;
    }
    .inner {
      border: 1px solid rgba(6, 18, 55, 0.05);
      padding: 20px;
      border-radius: 6px;
      background-color: #fff;
      display: flex;
      align-items: center;
      @include mobile {
        display: block;
      }
      .bTn {
        @include mobile {
          justify-content: start;
          margin-top: 10px;
        }
        img {
          @include mobile {
            width: 10%;
          }
        }
      }
      .btn_blk {
        margin-top: 20px;
      }
      .icon {
        border-radius: 6px;
        background-color: $light_green;
        padding: 10px;
        margin-right: 20px;
        width: fit-content;
        @include ipad_sm {
          margin-right: 0px;
          margin-bottom: 20px;
        }
        h5 {
          margin-bottom: 0;
          color: $light;
          font-family: "Medium";
          font-size: 2.5rem;
        }
      }
      h4 {
        margin-bottom: 0;
        font-family: "Medium";
        color: $blue;
        font-size: 16px;
      }
      p {
        color: $primary_color;
        margin-bottom: 4px;
        font-size: 14px;
      }
    }
    .boxes {
      .inner {
        @include ipad_sm {
          display: block;
        }
      }
    }
    .flex {
      margin: 0 -10px;

      .col {
        width: calc(100% / 3);
        padding: 10px;
        @include mobile {
          width: calc(100% / 1);
        }
      }
    }
  }
}

.sp {
  justify-content: space-between;
}

.boxes {
  width: 75%;
  @include ipad {
    width: 100%;
  }
}

#listing {
  padding-top: 0;
  .contain {
    overflow: auto;
  }

  .outer {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    overflow: hidden;
    @include mobile {
      width: 200%;
    }
    .lst {
      position: relative;
      background: rgba(241, 247, 247, 1);
      padding: 10px;
      max-width: 100%;
      &:nth-child(even) {
        background-color: $light;
      }
      &:nth-child(odd) {
        background-color: rgba(0, 167, 142, 0.05);
      }
      > ul {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;

        li {
          width: 20%;
          &:last-child {
            width: 10%;
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 25%;
          }
        }
      }
    }
    .head {
      background-color: #f1f7f7 !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      color: $blue;
      font-family: "Medium";
    }
  }
}

.action_drop_lease {
  position: relative;
  height: 50px;
}

._dropDown {
  position: relative;
}
.action_drop {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: unset;
}

// .action_drop_lease .action_dots {
//   background: #fbfbfb;
// }
.action_dots {
  width: 30px;
  height: 30px;
  background: unset;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
}
.dropLst.hide {
  display: none !important;
}

._dropCnt {
  position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -14px;
    right: 33px;
    min-width: 124px;
    max-width: 150px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 17, 44, 0.08);
    transition: all ease 0.5s;
    overflow: hidden;
    z-index: 3;
    padding: .5rem 0;
}

.action_drop li {
  display: block;
  width: 100%!important;
  padding: 0 !important;
  text-align: left !important;
}

.action_drop ._dropCnt li a {
  font-size: 13px;
  padding: 0px 15px;
}
.action_drop li a {
  display: block;
  font-family: "Regular";
}

.green {
  background-color: $color;
}
.blue {
  background-color: #0688f2;
}

.yellow {
  background-color: #edbc1c;
}
.red {
  background-color: #ed1c24;
}
.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Regular";
}

.bulk {
  border: 1px solid rgba(6, 18, 55, 0.05);
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
}

#create_request {
  padding-top: 0;
  .outer {
    max-width: 1000px;
    margin: auto;
    .head {
      h3 {
        color: $primary_color;
        margin: 20px 0 30px 0;
        font-size: 20px;
        font-family: "SemiBold";
      }
    }
    label {
      margin-bottom: 20px;
    }
    .input {
      border: 1px solid rgba(6, 18, 55, 0.1);
      background-color: rgba(249, 254, 253, 1);
    }

    .up_banner {
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-bottom: 0;
        width: 100%;

        img {
          width: 2%;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
    .btn_blk {
      justify-content: center;
      margin-top: 30px;
    }
  }
}

.col-xs-6 {
  width: 50%;
  padding: 10px;
  @include ipad_sm {
    width: 100%;
  }
}

.col-xs-12 {
  width: 100%;
  padding: 10px;
}
.upl {
  align-items: center;
  gap: 20px;
  .image {
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    max-width: 40rem;
    img {
      @include object;
    }
  }
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0;
    width: 100%;

    img {
      width: 2rem;
      height: 2rem;
    }
    p {
      margin-bottom: 0 !important;
      flex: 1;
      color: $color;
    }
  }
}

.ddp {
  .image {
    border-radius: 100px;
    overflow: hidden;
    height: 80px;
    width: 80px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.prescription {
  .outer {
    max-width: 1200px;
    margin: auto;
  }
  .bg_head {
    background-color: #d8f0e7;
    padding: 30px;
    border-radius: 15px 15px 0 0;
    h4 {
      margin-bottom: 0;
      font-family: "Medium";
    }
  }
  .green_heading {
    font-family: "Medium";
    color: $light_green;
    margin-bottom: 20px;
  }
  .box_inn {
    padding: 40px;

    .flex {
      margin: 0 -10px;

      .coll {
        width: calc(100% / 2);
        padding: 10px;
        .inner {
          display: flex;
          align-items: center;
          gap: 45px;
          @include ipad_sm {
            display: block;
          }
          h5 {
            margin-bottom: 0;
            font-family: "Medium";
            width: 30%;
            @include ipad_sm {
              width: 100%;
              margin-bottom: 10px;
            }
          }
          .box {
            padding: 10px;
            border-radius: 6px;
            background-color: #d8f0e7;
            width: 70%;
            @include ipad_sm {
              width: 100%;
            }
          }
        }
      }
    }
    .text {
      margin: 40px 0;
      .mt {
        margin-top: 40px;
      }
    }

    .info_tbl {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border: 1px solid rgba(235, 235, 235, 0.73);
      th,
      td {
        padding: 20px;
        text-align: left;
        border: unset;
        border-bottom: 1px solid rgba(235, 235, 235, 0.73);
      }
      th {
        background-color: rgba(0, 17, 44, 0.03);
      }
      td {
        padding: 20px;
      }
    }
  }
}

.red_heading {
  color: $primary-color;
  font-family: "Medium";
}

.chat_screen {
  padding-top: 81px;
  flex: none;
  height: 100vh;
  min-height: 200px;
  .contain {
    display: flex;
    height: 100%;
    padding: 0;
  }
  .barBlk {
    width: 320px;
    min-width: 320px;
    padding: 20px;
    @include mobile {
      width: 100%;
      min-width: auto;
      display: none;
    }
    .mb {
      margin-bottom: 30px;
    }
    .bulk {
      .head {
        background-color: #d8f0e7;
        margin: -20px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        h4 {
          font-family: "Medium";
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
      .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h4 {
          margin-bottom: 0;
          font-family: "Medium";
          font-size: 16px;
        }
        p {
          margin-bottom: 0;
        }
        strong {
          font-family: "Medium";
        }
      }
    }
  }
  .chatBlk {
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    background-color: $light;
    overflow: hidden;
    height: 100%;
    @include mobile {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      background: #fff;
    }
    .text {
      h4 {
        color: #374957;
        font-family: "Medium";
        margin-bottom: 8px;
      }
      border-bottom: 1px solid #e0e0e0;
      padding: 10px 0;
    }
    .chat.active {
      display: block;
    }
    .chat {
      display: none;
      max-height: 100%;
      padding: 45px 15px 0;
      margin: -15px -15px 0;
      flex: 1 1;
      flex-direction: column;
      overflow: auto;
      .buble {
        display: flex;
        margin-bottom: 35px;
        width: 70%;
        @include ipad_sm {
          width: 100% !important;
        }
        .ico {
          box-shadow: none;
          width: 60px;
          min-width: 60px;
          height: 60px;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          margin-right: 15px;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .time {
          color: #8b9593;
          font-size: 80%;
          font-family: "Medium";
        }
        .cntnt {
          background: #fff;
          padding: 12px 20px;
          line-height: 1.5;
          margin-top: 5px;
          border-radius: 7px;
          box-shadow: 0 5px 20px rgba(18, 15, 56, 0.07);
          font-size: 14px;
          border: 1px solid #7cc7bf;
          max-width: 400px;
          @include mobile {
            max-width: 100%;
          }
          position: relative;
          p {
            margin-bottom: 0;
          }
        }
      }
      .document {
        background-color: #f1f1f1;
        padding: 15px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 20px;
        width: fit-content;
        .ico {
          height: 56px;
          width: 56px;
          border-radius: 6px;
          padding: 10px;
          background-color: $color;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .download {
          height: 24px;
          width: 24px;
        }
        .tex {
          h5 {
            margin-bottom: 2px;
            font-family: "Medium";
          }
          p {
            margin-bottom: 0;
            color: #a4a4a4;
          }
        }
      }
    }
    .write {
      background: #fff;
      padding: 10px 15px;
      margin: 0 -15px -15px;
      border-top: 1px solid #7cc7bf;
      .btm {
        display: flex;
        align-items: center;
        margin-top: 10px;
        position: relative;
      }
      .arrowBtn {
        width: auto;
        min-width: auto;
        padding: 0;
        width: 48px;
        background-color: transparent;
        border: none;
        &:hover {
          filter: brightness(0) invert(0.7);
        }
      }
      textarea {
        height: 60px;
        max-height: 120px !important;
        padding: 10px 20px;
        transition: none !important;
        box-shadow: 0 5px 20px rgba(18, 15, 56, 0.07);
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #d8f0e7;
        flex: 1 1;
      }

      .icoBtn {
        right: 6px;
        margin-left: 15px;
        height: 60px;
        width: 60px;
        padding: 0;
        img {
          height: 2.3rem;
          margin: 0;
        }
      }
    }
  }
}

.checkout {
  padding: 20px;
  height: 100%;
  width: 100%;
  .green_border {
    border: 1px solid #8be7c8;
    width: 100%;
  }
  @include mobile {
    padding: 0;
  }
  .head_ {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include ipad_sm {
      display: block;
    }
    .checkbox {
      display: flex;
      gap: 10px;
      h4 {
        margin-bottom: 4px;
        font-family: "Medium";
      }
      p {
        margin-bottom: 0;
        color: #4d4c4c;
      }
    }
    .images {
      display: flex;
      gap: 4px;
      @include ipad_sm {
        margin-top: 20px;
      }
      img {
        width: 46px;
        height: 30px;
      }
    }
  }
  .input {
    border: 1px solid #e6e6e6;
  }
  .btn_blk {
    justify-content: center;
  }
}

.check_screen {
  height: unset;
}

.main_checkout {
  .outer {
    max-width: 1100px;
    margin: auto;
    h2 {
      margin-bottom: 40px;
    }
    .order_tbl {
      @include mobile {
        overflow: auto;
      }
      .total_bloc {
        border: 1.5px solid rgba(237, 28, 36, 0.15);
        border-radius: 6px;
        // overflow: hidden;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 30px 0;
        background-color: white;
        border: 1px solid #fff5f6;
        border-radius: 6px;
        // overflow: hidden;
        @include mobile {
          width: 200%;
        }
      }
      th,
      td {
        border: unset;
        padding: 14px;
        text-align: left;
      }
      td {
        padding: 20px 14px;
      }
      th {
        background-color: $primary_color; /* Red */
        color: white;
      }
      tr:nth-child(even) {
        background-color: #fff5f6;
      }
      .subtotal,
      .tax,
      .total {
        background-color: #fff5f6; /* Light red */
      }
      .total {
        background-color: $primary_color; /* Red */
        color: white;
        font-weight: bold;
      }
    }
  }
}

.team_info {
  background-color: #000;
  border-radius: 24px;
  .flex {
    margin-bottom: 30px;
    .col {
      padding-right: 30px !important;
      width: 30%;
    }
    .colr {
      padding-left: 20px;
      width: 70%;
    }
  }
  p,
  h4 {
    color: $light;
  }
}

.team-pop {
  ._inner {
    max-width: 100rem;
    background-color: #000;
  }
}

img.eye {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 20px;
  top: 36px;
  bottom: 0;
  margin: auto;
}

.request-popup {
  h4 {
    font-family: "Medium";
    margin-bottom: 40px !important;
  }
  .input {
    border: 1px solid rgba(6, 18, 55, 0.1);
    background-color: #f9fefd;
  }
  label {
    margin-bottom: 10px;
  }

  .btn_blk {
    justify-content: center;
  }
}
#whoweare {
  padding-bottom: 0;
}

.dash_headd {
  margin-right: 30px !important;
  @include mobile {
    display: none !important;
  }
}
.error{
  color:red !important;
  margin:0
}

.verify_mail{
  max-width: 70rem;
  margin: 0 auto;
  background: #fff;
  padding: 5rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  h5 , p{
    text-align: center;
  }
  form{
    h6{
      text-align: center;
    }
    .otp_fields{
      margin-bottom: 2rem;
      .codes-container{
        @include flex($justify:center);
        flex-wrap: wrap;
        gap: 1rem;
        > *{
          width: 5rem;
          height: 5rem;
          @include radius(6px);
          border: none;
          background: #efefef;
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }
}

.timer{
  @include flex($flow:wrap , $justify:center);
  margin:2rem 0;
  h4{
   width: 100%;
   margin-bottom: 0;
   text-align: center;
  }
  .col-4{
    padding: 1rem;
    .box{
      background-color: #ddd;
      text-align: center;
      border-radius: 10px;
      padding: 1rem;
      p{
        margin-bottom: 0;
        font-family: 'SemiBold';
        font-size: 1.8rem;
      }
    }
  }
}

.logged_header_front{
  nav{
    right: 9rem;
  }
  .logged_side{
    right: 3rem;
    top: 1.9rem;
  }
}


.is_map_load{
  @include pos($pos:fixed);
  @include flex(center,center);
  background-color: #fff;
  z-index: 1;
  &.mini_loader{
    position: absolute!important;
    background-color: #ddd;
  }
}
.is_map_load .map-loading-dv div {
  position: absolute;
  animation: map-loading-dv 1s linear infinite;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 $color;
  transform-origin: 20px 22px;
}

.is_map_load .loadingio-spinner-eclipse-2by998twmg8 {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.is_map_load .map-loading-dv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.is_map_load .map-loading-dv div {
  box-sizing: content-box;
}

@keyframes map-loading-dv {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upload_relative{
  position: relative;
}

.img_blk_uploaded{
 margin-top: 2rem;
 width: 10rem;
 height: 10rem;
 @include radius(10px);
 background-color: #f8fefd;
 border: 1px solid #ddd;
 @include flex(center,center);
 position: relative;
 overflow: hidden;
 .file_img{
  width: 5rem;
  height: 5rem;
  filter: brightness(0);
  opacity: 0.6;
 }
 .download_img{
  @include pos;
  z-index: 1;
  @include flex(center,center);
  background: #61a7a0;
  opacity: 0;
  @include trans;
  img{
    width: 3rem;
    height: 3rem;
    filter: brightness(0) invert(1);
  }
 }
 &:hover{
  .download_img{
    opacity: 1;
    @include trans;
  }
 }
}